.App {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 768px;
  text-align: center;
}

.Close {
  align-self: flex-end;
  background-color: transparent;
  border: 0;
  font-size: 2rem;
  width: 50px;
}

.Image {
  border: 1px solid darkgray;
  border-radius: 4px;
  margin: 0 auto 1rem auto;
  width: 80%;
}

.First,
.Last,
.Next,
.Previous {
  background-color: transparent;
  border: 0;
  font-size: 3rem;
  padding: 0 2rem;
}

.Quote {
  background-color: lightgray;
  border: 1px solid darkgray;
  border-radius: 4px;
  margin: 1rem;
  padding: 1rem;
}
