.Number {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid darkgray;
  border-radius: 0;
  font-size: 4rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  width: 3rem;
}

@media (max-width: 900px) {
  .Number {
    font-size: 3rem;
    width: 2rem;
  }
}

@media (max-width: 400px) {
  .Number {
    font-size: 2rem;
    width: 1rem;
  }
}

.Playground {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin: 3rem auto 0 auto;
  max-width: 300px;
}
